/* default Bear styles */

body {
    --base-background-color: #ffffff;
    --document-background-color: var(--base-background-color);
}

.document-wrapper {
    /* Constants used to transform theme values to CSS */
    --transform-line-height-factor: 1.17;

    /* From template */
    --base-text-color: #444444;
    --base-text-secondary-color: #888888;
    --base-text-tertiary-color: #d9d9d9;
    --base-background-color: #ffffff;
    --base-background-secondary-color: #f3f5f7;
    --base-background-tertiary-color: #e4e5e6;
    --base-stroke-color: #d9d9d9;
    --base-stroke-secondary-color: #d9d9d9;
    --base-accent-color: #dd4c4f;
    --base-highlight-color: #d3ffa4;

    --document-background-color: var(--base-background-color);
    --document-text-color: var(--base-text-color);
    --document-text-secondary-color: var(--base-text-secondary-color);
    --document-text-light-color: var(--base-text-secondary-color);
    --document-accent-color: var(--base-accent-color);
    --document-cursor-color: var(--base-accent-color);
    --document-link-color: var(--base-accent-color);
    --document-list-marker-color: var(--base-accent-color);
    --document-marker-color: var(--base-text-tertiary-color);
    --document-selection-color: var(--base-selection-color);
    --document-selection-inactive-color: var(--base-background-tertiary-color);
    --document-text-font: "AvenirNext-Regular";
    --document-text-size: 15px;
    --document-line-height-multiplier: calc(1.5 * var(--transform-line-height-factor));

    --document-headers-text-color: var(--base-text-color);
    --document-headers-font: "AvenirNext-Medium";
    --document-headers-modular-scale: 1.125;
    --document-headers-line-height-multiplier: calc(1.3 * var(--transform-line-height-factor));
    --document-headers-add-top-bottom-padding: 1;
    --document-headers-padding-top-multiplier: 0.5;
    --document-headers-padding-bottom-multiplier: 0.3;

    --document-code-text-color: var(--base-text-color);
    --document-code-border-color: var(--base-text-tertiary-color);
    --document-code-background-color: var(--base-background-secondary-color);
    --document-code-font: "Menlo-Regular";
    --document-code-text-size-multiplier: 0.91;

    --document-code-syntax-highlight-comment: #65798c;
    --document-code-syntax-highlight-constant: #0095c9;
    --document-code-syntax-highlight-number: #0095c9;
    --document-code-syntax-highlight-string: #d12f1b;
    --document-code-syntax-highlight-entity: #4a838b;
    --document-code-syntax-highlight-keyword: #ad3da4;
    --document-code-syntax-highlight-function: #4a838b;
    --document-code-syntax-highlight-variable: #4a838b;

    --document-task-background-color: var(--base-background-color);
    --document-task-border-color: var(--base-text-secondary-color);
    --document-task-check-color: var(--base-text-color);

    --document-tag-background-color: var(--base-background-tertiary-color);
    --document-tag-text-color: var(--base-text-color);
    --document-tag-marker-color: var(--base-text-secondary-color);

    --document-highlighter-background-color: var(--base-highlight-color);
    --document-highlighter-text-color: var(--base-text-color);

    --document-file-fold-color: var(--base-background-tertiary-color);
    --document-file-background-color: var(--base-background-secondary-color);

    --document-separator-border-color: var(--base-stroke-secondary-color);

    --document-table-border-color: var(--base-stroke-secondary-color);
    --document-table-cell-background-color: var(--base-background-color);
    --document-table-cell-alternate-background-color: var(--base-background-secondary-color);
}

.document-wrapper,
body {
    background-color: var(--document-background-color);
}
.document-wrapper h1.setext,
.document-wrapper h2.setext {
    border-bottom: calc(2 * var(--document-hairline-width)) solid var(--document-separator-border-color);
    padding-bottom: 0.6em;
}
.document-wrapper blockquote blockquote blockquote blockquote blockquote::before,
.document-wrapper blockquote blockquote blockquote::before,
.document-wrapper blockquote::before {
    background-color: var(--document-list-marker-color);
}
.document-wrapper a:hover,
.document-wrapper mark {
    text-decoration: inherit;
}
.document-wrapper td[data-alignment="1"],
.document-wrapper th {
    text-align: left;
}
.document-wrapper :after,
.document-wrapper :before,
.document-wrapper a,
.document-wrapper abbr,
.document-wrapper acronym,
.document-wrapper address,
.document-wrapper applet,
.document-wrapper article,
.document-wrapper aside,
.document-wrapper audio,
.document-wrapper b,
.document-wrapper big,
.document-wrapper blockquote,
.document-wrapper canvas,
.document-wrapper caption,
.document-wrapper center,
.document-wrapper cite,
.document-wrapper code,
.document-wrapper dd,
.document-wrapper del,
.document-wrapper details,
.document-wrapper dfn,
.document-wrapper div,
.document-wrapper dl,
.document-wrapper dt,
.document-wrapper em,
.document-wrapper embed,
.document-wrapper fieldset,
.document-wrapper figcaption,
.document-wrapper figure,
.document-wrapper footer,
.document-wrapper form,
.document-wrapper h1,
.document-wrapper h2,
.document-wrapper h3,
.document-wrapper h4,
.document-wrapper h5,
.document-wrapper h6,
.document-wrapper header,
.document-wrapper hgroup,
.document-wrapper i,
.document-wrapper iframe,
.document-wrapper ins,
.document-wrapper kbd,
.document-wrapper label,
.document-wrapper legend,
.document-wrapper li,
.document-wrapper mark,
.document-wrapper menu,
.document-wrapper nav,
.document-wrapper object,
.document-wrapper ol,
.document-wrapper output,
.document-wrapper p,
.document-wrapper pre,
.document-wrapper q,
.document-wrapper ruby,
.document-wrapper s,
.document-wrapper samp,
.document-wrapper section,
.document-wrapper small,
.document-wrapper span,
.document-wrapper strike,
.document-wrapper strong,
.document-wrapper summary,
.document-wrapper table,
.document-wrapper tbody,
.document-wrapper td,
.document-wrapper tfoot,
.document-wrapper th,
.document-wrapper thead,
.document-wrapper time,
.document-wrapper tr,
.document-wrapper tt,
.document-wrapper u,
.document-wrapper ul,
.document-wrapper var,
.document-wrapper video {
    all: unset;
}
.document-wrapper {
    --document-inline-padding-top-bottom: 0.25em;
    --document-inline-padding-left-right: 0.25em;
    --header-1-font-size: 2em;
    --header-2-font-size: 1.6em;
    --header-3-font-size: 1.27em;
    --document-hairline-width: calc(var(--document-text-size) / 15);
    box-sizing: border-box;
    color: var(--document-text-color);
    font-family: var(--document-text-font);
    font-size: var(--document-text-size);
    line-height: var(--document-line-height-multiplier);
    min-height: 100%;
    max-width: 48em;
    width: 100%;
    tab-size: 4;
    margin: 0 auto;
    padding: 0 2em;
}
body {
    text-rendering: optimizeLegibility;
}
.document-wrapper:focus-visible {
    outline: 0;
}
.document-wrapper .marker {
    color: var(--document-marker-color);
    display: none;
}
.document-wrapper [data-direction="2"] {
    direction: rtl;
}
.document-wrapper div.footnote,
.document-wrapper div.link-definition,
.document-wrapper p {
    display: block;
}
.document-wrapper p.blank-line::before {
    content: " ";
}
.document-wrapper h1,
.document-wrapper h2,
.document-wrapper h3,
.document-wrapper h4,
.document-wrapper h5,
.document-wrapper h6 {
    font-family: var(--document-headers-font);
    display: block;
    line-height: var(--document-headers-line-height-multiplier);
}
.document-wrapper h1 {
    font-size: var(--header-1-font-size);
    padding-block-start: 0.8em;
    padding-block-end: 0.33em;
}
.document-wrapper h2 {
    font-size: var(--header-2-font-size);
    padding-block-start: 0.66em;
    padding-block-end: 0.27em;
}
.document-wrapper h3 {
    font-size: var(--header-3-font-size);
    padding-block-start: 0.53em;
    padding-block-end: 0.27em;
}
.document-wrapper code,
.document-wrapper pre {
    font-size: var(--document-code-text-size-multiplier);
    font-family: var(--document-code-font), monospace;
}
.document-wrapper h4,
.document-wrapper h5,
.document-wrapper h6 {
    padding-block-start: 0.4em;
    padding-block-end: 0.27em;
}
.document-wrapper h1.setext {
    margin-bottom: 0.45em;
}
.document-wrapper h2.setext {
    margin-bottom: 0.2em;
}
.document-wrapper .fenced-code *,
.document-wrapper .fenced-code-content .marker,
.document-wrapper .fenced-code-content .space,
.document-wrapper .hard-linebreak-marker,
.document-wrapper .image .space,
.document-wrapper .image-destination,
.document-wrapper .image-label,
.document-wrapper .image-title,
.document-wrapper .indented-code .space,
.document-wrapper .link .space,
.document-wrapper .link-destination,
.document-wrapper .link-label,
.document-wrapper .link-title,
.document-wrapper .replace .text,
.document-wrapper .setext-heading-marker + .line-ending,
.document-wrapper .yaml-marker + .line-ending,
.document-wrapper li > p > .space:first-child,
.document-wrapper tr.delimiter-row {
    display: none;
}
.document-wrapper ol,
.document-wrapper ul {
    display: block;
    padding-inline-start: 2.13em;
}
.document-wrapper li {
    display: list-item;
    color: var(--document-text-color);
}
.document-wrapper .color-marker,
.document-wrapper .entity-marker,
.document-wrapper .fenced-code-content,
.document-wrapper .fenced-code-content *,
.document-wrapper .footnote-separator,
.document-wrapper .link-definition-separator,
.document-wrapper code.code-inline,
.document-wrapper li > p {
    display: inline;
}
.document-wrapper ul {
    list-style-type: disc;
}
.document-wrapper li li li li li li li ul,
.document-wrapper li li li li li ul,
.document-wrapper li li li ul,
.document-wrapper li ul {
    list-style: circle;
}
.document-wrapper li li li li li li ul,
.document-wrapper li li li li ul,
.document-wrapper li li ul {
    list-style: disc;
}
.document-wrapper li::marker {
    color: var(--document-list-marker-color);
}
.document-wrapper ol {
    list-style-type: none;
    counter-reset: custom-list-item calc(var(--data-list-start, 1) - 1);
}
.document-wrapper ol > li {
    counter-increment: custom-list-item;
    position: relative;
}
.document-wrapper ol > li::before {
    content: counter(custom-list-item) ". ";
    color: var(--document-list-marker-color);
    position: absolute;
    transform: translate(calc(-100% - 0.33em), 0);
}
.document-wrapper ol > li[data-big-number="true"] {
    margin-inline-start: -2.05em;
}
.document-wrapper ol > li[data-big-number="true"]::before {
    position: static;
    padding-inline-end: 0.25em;
}
.document-wrapper ol > li[data-list-type="1"]:before {
    content: counter(custom-list-item) ") ";
}
.document-wrapper [data-direction="2"] ol > li::before,
.document-wrapper ol[data-direction="2"] > li::before {
    transform: translate(calc(100% + 0.33em), 0);
}
.document-wrapper li[role="checkbox"] {
    list-style: none;
    position: relative;
}
.document-wrapper li[aria-checked="true"] {
    color: var(--document-text-secondary-color);
}
.document-wrapper .todo-checkbox {
    display: inline-block;
    margin-left: -1.7em;
    margin-right: 0.5em;
}
.document-wrapper .todo-checkbox svg {
    display: inline-block;
    margin-bottom: -0.3em;
}
.document-wrapper blockquote {
    display: block;
    padding-inline-start: 2.13em;
    position: relative;
}
.document-wrapper code,
.document-wrapper mark {
    padding: var(--document-inline-padding-top-bottom) var(--document-inline-padding-left-right);
}
.document-wrapper blockquote::before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 1em;
    width: 0.13em;
    height: calc(100% - 0.4em);
    border: var(--document-hairline-width) solid var(--document-list-marker-color);
    border-radius: 0.33em;
}
.document-wrapper code,
.document-wrapper pre.fenced-code,
.document-wrapper pre.indented-code,
.document-wrapper pre.yaml {
    color: var(--document-code-text-color);
    background-color: var(--document-code-background-color);
    border-radius: 0.25em;
}
.document-wrapper [data-direction="2"] blockquote::before,
.document-wrapper blockquote[data-direction="2"]::before {
    left: 0;
    right: 1em;
}
.document-wrapper blockquote blockquote blockquote blockquote blockquote blockquote::before,
.document-wrapper blockquote blockquote blockquote blockquote::before,
.document-wrapper blockquote blockquote::before {
    background-color: transparent;
}
.document-wrapper hr {
    display: block;
    margin-block-start: calc(var(--document-line-height-multiplier) * 0.5em);
    margin-block-end: calc(var(--document-line-height-multiplier) * -0.5em);
    border-top: var(--document-hairline-width) solid var(--document-separator-border-color);
}
.document-wrapper pre {
    display: block;
    white-space: pre-wrap;
}
.document-wrapper pre.indented-code {
    padding-inline-start: 2.13em;
}
.document-wrapper pre.fenced-code,
.document-wrapper pre.yaml {
    padding: 0 0.5em;
}
.document-wrapper .fenced-code::before {
    content: "\200B";
}
.document-wrapper code {
    font-weight: 400;
    font-style: normal;
    display: block;
}
.document-wrapper mark,
.document-wrapper mark code {
    color: var(--document-text-color);
    background-color: var(--document-highlighter-background-color);
}
.document-wrapper em,
.document-wrapper i {
    font-family: AvenirNext-Italic;
}
.document-wrapper b,
.document-wrapper strong,
.document-wrapper th {
    font-family: AvenirNext-Bold;
}
.document-wrapper mark {
    unicode-bidi: embed;
    border-radius: 0.25em;
}
.document-wrapper u {
    text-decoration: underline;
    text-decoration-color: var(--document-accent-color);
    unicode-bidi: embed;
}
.document-wrapper s,
.document-wrapper strike {
    text-decoration: line-through;
}
.document-wrapper a {
    color: var(--document-link-color);
    unicode-bidi: embed;
    cursor: pointer;
}
.document-wrapper .wiki-separator-marker {
    display: inline;
    color: inherit;
}
.document-wrapper .link-definition-title {
    color: var(--document-text-light-color);
}
.document-wrapper .footnote-ref {
    font-size: 0.9em;
    vertical-align: super;
}
.document-wrapper span.entity {
    direction: ltr;
    unicode-bidi: embed;
    color: var(--document-code-syntax-highlight-entity);
}
.document-wrapper span.escape {
    unicode-bidi: embed;
}
.document-wrapper .color {
    font-family: var(--document-code-font), monospace;
    font-size: var(--document-code-text-size-multiplier);
    padding-inline-start: 1.2em;
    position: relative;
    direction: ltr;
    unicode-bidi: embed;
}
.document-wrapper .color::before {
    content: "";
    position: absolute;
    width: 0.9em;
    height: 0.9em;
    left: 0;
    bottom: 0;
    transform: translateY(-15%);
    border: var(--document-hairline-width) solid rgb(0, 0, 0, 0.3);
    border-radius: 0.9em;
    background-color: var(--data-color);
}
.document-wrapper .hashtag {
    color: var(--document-tag-text-color);
    background-color: var(--document-tag-background-color);
    border-radius: 1em;
    padding: calc(var(--document-inline-padding-top-bottom) - 2 * var(--document-hairline-width)) calc(var(--document-inline-padding-left-right) + 0.3em);
    unicode-bidi: embed;
}
.document-wrapper .hashtag > .marker {
    display: inline;
    color: var(--document-tag-marker-color);
    padding: 0;
}
.document-wrapper table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: var(--document-hairline-width) solid var(--document-table-border-color);
    border-radius: 0.33em;
    margin-bottom: calc(var(--document-line-height-multiplier) * 1em);
}
.document-wrapper table[data-direction="2"] {
    margin-left: auto;
    direction: ltr;
}
.document-wrapper tr {
    display: table-row;
    background-color: var(--document-table-cell-background-color);
}
.document-wrapper tr.header-row,
.document-wrapper tr:nth-child(odd) {
    background-color: var(--document-table-cell-alternate-background-color);
}
.document-wrapper td,
.document-wrapper th {
    box-sizing: border-box;
    display: table-cell;
    padding: 0.37em 0.75em;
    min-width: 5em;
    border-right: var(--document-hairline-width) solid var(--document-table-border-color);
}
.document-wrapper td:last-of-type,
.document-wrapper th:last-of-type {
    border: none;
}
.document-wrapper table[data-direction="2"] td {
    margin-left: auto;
}
.document-wrapper td[data-alignment="2"] {
    text-align: right;
}
.document-wrapper td[data-alignment="3"] {
    text-align: center;
}
.document-wrapper .code_comment {
    color: var(--document-code-syntax-highlight-comment);
}
.document-wrapper .code_constant {
    color: var(--document-code-syntax-highlight-constant);
}
.document-wrapper .code_number {
    color: var(--document-code-syntax-highlight-number);
}
.document-wrapper .code_string {
    color: var(--document-code-syntax-highlight-string);
}
.document-wrapper .code_entity {
    color: var(--document-code-syntax-highlight-entity);
}
.document-wrapper .code_keyword {
    color: var(--document-code-syntax-highlight-keyword);
}
.document-wrapper .code_function {
    color: var(--document-code-syntax-highlight-function);
}
.document-wrapper .code_variable {
    color: var(--document-code-syntax-highlight-variable);
}
.document-wrapper img {
    max-width: 100%;
}
.document-wrapper .pdf_preview {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    border-radius: 4px;
}
.document-wrapper .arrow svg #body,
.document-wrapper .arrow svg #head {
    fill: var(--base-text-color);
}
.document-wrapper .todo-checkbox svg #body {
    stroke: var(--document-task-border-color);
}
.document-wrapper .todo-checkbox svg #check {
    fill: var(--document-task-check-color);
}
.document-wrapper .todo-checkbox.todo-checked svg #body {
    opacity: 0.35;
}
.document-wrapper .todo-checkbox.todo-checked svg #check {
    opacity: 0.4;
}
